<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyTwitter. Sign In</title>
</head>
<body>
    <div class="form">
        <h1>Authentication</h1>
        <form th:action="@{/authentication}" method="post">
            <input type="text" name="email" placeholder="Email" id="email">
            <input type="password" name="password" placeholder="Password" id="password">
            <input type="submit" value="Sign In">
        </form>
        <p>Don't have an account? Click <a th:ref="@{/registration}">here</a> to sign up.</p>
    </div>
</body>
</html>